@font-face {
  font-family: 'MyFont';
  src: url('./Bunny Honey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: blue;
  background-image: url('./un.gif');
  font-family: 'MyFont'
}
